*{
  page-break-inside: avoid;
}
.textareaTab2{
  width: 100%;

}
.secName2{
 display: inline-table;
  overflow: auto;
  margin:  0 auto;

}
.sect1Tab2{
  border-radius: 1px;
  border: 1px solid black;
  display: flex;
  margin: 5px 20px;
  width: 355px;
}
.pItem{
  width: 100%;
}
p{
  width: 355px;
  margin: 10px 3px;
}

.sect2Tab2{
  border-radius: 1px;
  border: 1px solid black;
  display: flex;
  margin: 20px 20px;
  width: 355px;
}
.pretextTab2{
  height: auto;

  border-bottom: 1px solid black;
}
.texdescrTab2{
  height: 45px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: justify;
  padding-right: 5px;
  word-break: break-all;
  margin: 0px 3px;
  width: 355px;
}

.textpTab2{
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  margin: 0px 3px;
  display: flex;
  width: 345px;
  justify-content: space-between;
}

