.ppage{
  color: black;
}

.containerAbout{
  display: flex;

}



nav{
  background-color: rebeccapurple;
  display: flex;
  justify-content: center;

}

.navList{
background-color: aquamarine;
position: fixed;
}

.ppage1{
  font-size: 1.2rem;
  font-weight: 600;
}

.navLink{
  color: rgb(0, 0, 0);
}

.navLink:hover{
  color: aliceblue;
}

h2{

  width: 1440px;
  max-width: 1440px;
  margin: 30px auto;
  text-align: center;
  font-size: 1.7rem;
}

p{
  width: 1440px;
  max-width: 1440px;
  margin: 0px auto;
  text-align: center;
  font-size: 1.2rem;
}

