*{
  page-break-inside: avoid;
}
.textareatab1{
  width: 100%;

}
.secName{
 display: inline-table;
  overflow: auto;
  margin:  0 auto;

}
.sect1Tab1{
  border-radius: 1px;
  border: 1px solid black;
  display: flex;
  margin: 5px 20px;
  width: 270px;
}
.pItem{
  width: 100%;
}
p{
  width: 370px;
  margin: 10px 3px;
}

.sect2Tab1{
  border-radius: 1px;
  border: 1px solid black;
  display: flex;
  margin: 20px 20px;
  width: 270px;
}
.pretextTab1{
  height: auto;

  border-bottom: 1px solid black;
}
.texdescrTab1{
  height: 45px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  display: flex;
  align-items: center;
  text-align: justify;
  padding-right: 5px;
  word-break: break-all;
  margin: 0px 3px;
  width: 263px;
}

.textpTab1{
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  margin: 0px 3px;
  display: flex;
  width: 260px;
  justify-content: space-between;
}

